@tailwind base;
@tailwind components;
@tailwind utilities;

#root > div > div:nth-child(10) > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
}